{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit Course</title>

</head>
<body>

            <h3>Course Details</h3>
            <input type="text" id="course_id" style="display: none">
                <div class="row">
                    <div class="col-xs-2" align="right"><label form="name" class="control-label">Course Name</label></div>
                    <div class="col-xs-5">
                        <input type="text" name="cname" required class="form-control" placeholder="Country Name" id="cname">
                        <span class="help-block" id="ercname" style="color: red"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <a class="btn btn-primary" href="#/course_update">SAVE</a>
                    </div>
                </div>

</body>
</html>