{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'myapp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/bootstrap/css/bootstrap-theme.min.css' %}">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="{% static 'myapp/bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'myapp/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'myapp/bootstrap/js/../../../myapp/static/myapp/js/operation.js' %}"></script>
     <script src="{% static 'myapp/bootstrap/js/../../../myapp/static/myapp/js/jquery.cookie1.js' %}" type="text/javascript"></script>
   <style type="text/css">
    body{
    	padding-top: 50px;
    }
    ul{
        font-size: 14px;
        text-align: center;
    }
</style>
    <script type="text/javascript">
        $(document).ready(function()
		{
{#            alert("call Home..")#}
{#            $('#mhome').hide();#}
{#            document.getElementById('empmenu').innerHTML = "";#}
{#            $('#empmenu').append('<li><a href="#Home">Home</a></li>');#}
{#            $('#empmenu').append('<li><a href="#Profile">Profile</a></li>');#}

        });
    </script>
</head>
<body>
    {# Responsive layouts automatically adjust and adapts to any device screen size, whether it is a desktop, a laptop, a tablet, or a mobile phone. #}
    <nav id="mynavbar" class="navbar navbar-default navbar-inverse  navbar-fixed-top" role="navigation">
        <div class="container">
            <ul class="nav navbar-nav" id="empmenu">
                <!--<li><a href="{ url 'university:index' %}">University</a></li>
                <li><a href="{ url 'university:showrecord' %}">University List</a></li>-->

{#                <li id="mhome"><a href="">Home</a></li>#}
{#                <li><a href="">Profile</a></li>#}
{#                {% if request.session.desig != 1 %}#}
{#                    {% if request.session.desig != 0 %}#}
{#                        <li><a href="">Student List</a></li>#}
{#                    {% endif %}#}
{#                {% endif %}#}
{#                {% if request.session.desig == 5 %}#}
{#                    <li><a href="">Designation</a></li>#}
{#                    <li><a href="">EmployeeDesignation</a></li>#}
{#                {% elif request.session.desig == 1 %}#}
{#                    <li><a href="">Student</a></li>#}
{#                    <li><a href="">Student List</a></li>#}
{#                    <li><a href="">Course</a></li>#}
{#                    <li><a href="">Department</a></li>#}
{#                    <li><a href="">Country</a></li>#}
{#                    <li><a href="">State</a></li>#}
{#                    <li><a href="">City</a></li>#}
{#                {% endif %}#}
{#                <li><a href="#changepassword" id="chpwd">Change Password</a></li>#}
{#                <li><a href="#Logout" id="logoutdone">Logout</a></li>#}
            </ul>
        </div>
    </nav>
<div class="container">
    <div class="text-center">
        <h1>Student Information<small class="small"> system.</small></h1>
        <p class="lead">A Student Information system is a web application for developed to manage student data.<br/> This is used to manage students, employees, courses, departments and all processes related to Student Information System.</p>
    </div>
</div>
</body>
</html>