<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../static/mysite/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/mysite/bootstrap/css/bootstrap-theme.min.css">
    <script src="../../static/mysite/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        p{
            padding: 20px;
            font-size: 14px;
            /*font-weight: bold;*/
            text-align: center;
            background-color: #f2f2f2;
        }
         .bs-example{
    	margin: 20px;
    }
    </style>
</head>
<body>
<!--<div class="container">
    <div class="row">
            <div class="col-xs-3">
                <h1>Student<small class="small"> Details</small></h1>
                <p class="text-justify text-primary">Student detail define list of student manage by admin.We can show list of students and update each students Contact detail like Contact Number.</p>
            </div>
            <div class="col-xs-3">
                <h1>Employee<small class="small"> Detail</small></h1>
                <p class="text-justify text-primary">Here Employee can register with it's department that manage by admin. The register employees can login and manage self profile detail.If any employees lost password just give register mobile number and get the password vai register email.</p>

            </div>
            <div class="col-xs-3">
                <h1>University<small class="small"> Detail</small></h1>
                <p class="text-justify text-primary">The University Detail defiles university basic information.We can insert new unversity and each university contain it's Courses Detail we can show,edit and delete Course as well as university details.Here Perform all CRUD Operation on Django</p>

            </div>
            <div class="col-xs-3">
                <h1>Admin<small class="small"> Detail</small></h1>
                <p class="text-justify text-primary">Here admin manage My Site.Admin can add new student and student contact detail for Student Detail, Admin can add Department for Employee Detail and many more.</p>
            </div>

        </div>
</div>-->
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p align="center">&copy; copyright 2014 Priyansh Rajput</p>
            </footer>
        </div>
    </div>
</body>
</html>